* {
    box-sizing: border-box;
}

.Header {
    background: #ffffff;
    min-height: 50px;
}

.Logo {
    width: 200px;
}

.Body {
    background: #ffffff;
    height: 100vh;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center both horizontally and vertically */
}

.Featured-Exercies {
    text-align: center;
}

div > button {
    text-align: center;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 20px 0; /* Add some space above and below the button */
}
